<div class="card">
  <div class="option-ui">
    <div class="report-selector">
      <p-select [options]="companies"
                [(ngModel)]="selectedCompany"
                (ngModelChange)="onFilterSummaries($event)"
                optionLabel="name"
                placeholder="選一個公司"
                class="w-full md:w-56"
      />
      <p-multiselect
        [options]="filteredSummaries()"
        [(ngModel)]="selectedSummaries"
        optionLabel="summary"
        placeholder="選擇摘要報告"
        [maxSelectedLabels]="1"
        styleClass="w-full md:w-80"
        filter="false"
      ></p-multiselect>

    </div>
    <div class="theme-selector">
      <app-checkbox-group (selectedOptionsChange)="onOptionsChanged($event)" />
      <div class="title-checkbox">
        <p-checkbox
          [inputId]="themeAll.key"
          name="group"
          [value]="themeAll"
          [(ngModel)]="allThemesChecked"
          [binary]="true"
        />
        <label [for]="themeAll.key" class="ml-2"> 選擇主題 </label>
      </div>
      <div class="checkbox-group">
        <div *ngFor="let theme of themes" class="check-item">
          <p-checkbox
            [inputId]="theme.key"
            name="group" [value]="theme"
            [(ngModel)]="selectedThemes"
          />
          <label [for]="theme.key" class="ml-2"> {{ theme.name }} </label>
        </div>
      </div>
    </div>
  </div>
  <div class="submit-block">
    <p-button label="產生摘要報告" (click)="onGenerateReport()" />
  </div>
</div>
