<div class="card">
  <div class="option-ui">
    <div class="report-selector">
      <p-select [options]="companies"
                [(ngModel)]="selectedCompany"
                (ngModelChange)="onFilterSummaries($event)"
                optionLabel="name"
                placeholder="選一個公司"
                class="w-full md:w-56"
      />
      <p-multiselect
        [options]="filteredSummaries()"
        [(ngModel)]="selectedSummaries"
        optionLabel="summary"
        placeholder="選擇摘要報告"
        [maxSelectedLabels]="1"
        [selectionLimit]="5"
        styleClass="w-full md:w-80"
        filter="false"
      ></p-multiselect>

    </div>
    <app-checkbox-group (selectedOptionsChange)="onOptionsChanged($event)" />
  </div>
  <div class="selected-summaries">
    <div class="title">選擇結果(上限為5，請致少選擇兩份文件)</div>
    @if (selectedSummaries) {
      <div class="result-block">@for (summary of selectedSummaries; track summary.summary) {
        <p-chip
          (onRemove)="removeSummery(summary)"
          label="{{summary.summary}}"
          [removable]="true"
        />
      }</div>
    }
  </div>
  <div class="submit-block">
    <p-button
      label="產生摘要報告"
      (click)="onGenerateReport()"
    />
  </div>
</div>
