<app-container>

  <div class="add-button">
    <p-button
      (click)="openDialog()"
      icon="pi pi-plus"
      label="新增資料"
    />
  </div>

  <app-report-generator [show]="isDialogVisible" (close)="closeDialog()">
    <h2>Custom Content</h2>
    <p>This is a dialog controlled by the parent.</p>
  </app-report-generator>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">法說會摘要資料</p-tab>
      <p-tab value="1">法說會摘要報告比較</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-summery-list/>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
          modi.
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

</app-container>
