<app-container>

  <div class="add-button">
    <p-button
      variant="outlined"
      (click)="openDialog()"
      icon="pi pi-plus"
      label="新增資料"
    />
  </div>


  <app-common-dialog>
    <app-report-generator />
  </app-common-dialog>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">法說會摘要資料</p-tab>
      <p-tab value="1">法說會摘要報告比較</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-summary-list/>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-summary-compare-ui />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

</app-container>
