$digi-orange: #FFA500;
$digi-black: #000000;
$checkbox-size: 24px;
$check-icon: 12px;
$border-radius-unit: 4px;
$frame-border: #ccc;
.theme-selector {
  .title-checkbox {
    .check-item {
      .input-container {
        .toggle-input {
          &:hover {
            background-color: $digi-orange;
            border: 1px solid $digi-orange;
          }

          &::after {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>');
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
            height: $check-icon;
            width: $check-icon;
            color: white;
            display: none;
          }

          &:checked {
            &:after {
              display: block;
            }

            background-color: $digi-black;

            & + .option-content-wrapper {
              &::before {
                background-color: $digi-orange;
              }

              background-color: $digi-orange;
            }

            &::before {
              background-color: $digi-orange;
            }
          }

          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          height: $checkbox-size;
          width: $checkbox-size;
          background-color: #ffffff;
          border-radius: $border-radius-unit;
          border: 1px solid $frame-border;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-right: 8px;
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        line-height: $checkbox-size;
      }

      //border: 1px solid red;
      padding: .5rem;
    }
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
  }
  .checkbox-group {
    .check-item {
      .input-container {
        .toggle-input {
          &:hover {
            background-color: $digi-orange;
            border: 1px solid $digi-orange;
          }

          &::after {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>');
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
            height: $check-icon;
            width: $check-icon;
            color: white;
            display: none;
          }

          &:checked {
            &:after {
              display: block;
            }

            background-color: $digi-black;

            & + .option-content-wrapper {
              &::before {
                background-color: $digi-orange;
              }

              background-color: $digi-orange;
            }

            &::before {
              background-color: $digi-orange;
            }
          }

          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          height: $checkbox-size;
          width: $checkbox-size;
          background-color: #ffffff;
          border-radius: $border-radius-unit;
          border: 1px solid $frame-border;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-right: 8px;
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        line-height: $checkbox-size;
      }
      //border: 1px solid red;
      padding: .5rem;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
  }

  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
